<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="screen">



<section>
  <div class="signin">

    <div class="content">

      <h2>Recuperar Contrasena</h2>

      <div class="form">

        <div class="inputBox">

          <input type="email" required> <i>Email registrado</i>

        </div>



        <div class="links"> <a routerLink="">Login</a> <a routerLink="/registrar">Registrarse </a>

        </div>

        <div class="inputBox">

          <input type="submit" value="Enviar email ">

        </div>

      </div>

    </div>

  </div>

</section>

</body>

</html>
